.paper_item{
    height: 30PX;
    line-height: 30PX;
    padding: 10PX 20PX;
    border-bottom: 1PX solid #dbdbdb;
}

.item_btn{
    float:right;
    color: #f5f5f5;
    background-color: #6190e8;
}
.book {
    padding: 5px 10PX;
}
.book .at-divider__content{
    background-color: #f5f5f5;
}
button::after{ border: none; }