.index .m_swiper{
    height: 180PX;
}

.btn_group{
    width:165PX;
    margin: 40PX auto 30PX auto;
}
.m_swiper image {
    width: 100%;
}
.marjor_notice .at-noticebar{
    background:#13ce66;
    color:#fff;
}

.btn_item{
    display: inline-block;
    width: 80PX;
    height: 80PX;
    line-height: 80PX;
    color: #ffffff;
    text-align: center;
    margin: 1PX;
}
.adv_wrap{
    position: fixed;
    bottom: 0;
    height: 120PX;
    width: 100%;
    background-color: blueviolet;
}
.btn_groups{
    padding: 20PX;
    text-align: center;
}
.btn_wrap{
    display:inline-block;
    padding: 20PX;
}
.btn_wrap text{
    padding: 5PX;
}
.btn_img{
    width: 70PX;
    height: 70PX;
    margin: 0 auto;
}
