.index .m_swiper{
    height: 180PX;
}

.m_swiper image {
    width: 100%;
}
.marjor_notice .at-noticebar{
    background:#13ce66;
    color:#fff;
}

.adv_wrap{
    position: fixed;
    bottom: 0;
    height: 120PX;
    width: 100%;
    background-color: blueviolet;
}
.btn_groups{
    padding: 20PX;
    text-align: center;
}
.btn_wrap{
    display:inline-block;
    padding: 20PX;
}
.btn_wrap text{
    padding: 5PX;
}
.btn_img{
    width: 70PX;
    height: 70PX;
    margin: 0 auto;
}
.index button{
    border: 0;
    border-radius:0;
    color: #6190e8;
    background: #ffffff;
}
.index button::after{ border: none; }
