.info_wrap{
    padding: 40PX 20PX;
    text-align: center;
    background-color: #6190e8;
    color: #ffffff;
}
.avatar{
    width:80PX;
    height:80PX;
    border-radius:50%;
    margin:0 auto;
    display:block;
}
.my button{
    border: 0;
    border-radius:0;
    color: #6190e8;
    background: #ffffff;
}
.my button::after{ border: none; }