

page{
    overflow-x:hidden;
}
.question_main{
    display:flex;
    flex-direction:row;
    width:400vw;
}
:-webkit-scrollbar {
    display: none;
}
.question_main .question_wrap{
    height:100vh;
    width: 100vw;
    box-sizing:border-box;
    padding: 20PX;
}

.question_wrap .at-tag{
    vertical-align: top;
}

.tabbar_wrap{
    position: fixed;
    width: 100%;
    bottom: 0;
}

.choose_wrap{
    margin: 30PX 0 30PX 20PX;
}
.at-radio__icon .at-icon {
    font-weight:800;
    font-size:20PX;
}

.answer_wrap{
    position: fixed;
    z-index: 998;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    background-color: #fff;
}
.answer_grade .grade{
    height: 160PX;
    padding-top: 130px;
    background: #13ce66;
    color: #fff;
}
.grade_round{
    width: 80PX;
    height: 55PX;
    padding-top:25PX;
    margin: 0 auto;
    border-radius: 50%;
    border: 1PX solid #fff;
    color: #fff;
    text-align: center;
    vertical-align: middle;
}
.grade_round .text{
    font-size: 20PX;
    font-weight: 800;
}

.answer_grade .desc{
    display: flex;
    flex-direction: row;
}
.desc_item{
    width: 50%;
    padding: 10PX;
    text-align: center;
}

.answer_item, .cata_item{
    display: inline-block;
    height: 36PX;
    width: 36PX;
    border-radius: 50%;
    border: 1PX solid #dbdbdb;
    text-align: center;
    margin: 6PX;
}

.answer_item>text, .cata_item>text {
    display: inline-block;
    height: 36PX;
    line-height: 36PX;
}
.answer_item.right, .cata_item.right{
    background-color: #13ce66;
    border: 1PX solid #13ce66;
    color: #fff;
}

.answer_item.wrong{
    background-color: #e6a23c;
    border: 1PX solid #e6a23c;
    color: #fff;
}
.answer_title {
    padding: 10PX 0;
    font-weight:800;
}
.answer_desc {
    padding: 0 20PX;
}

.answer_list,.cata+list{
    padding: 10PX 20PX;
}

.answer_wrap button{
    width: 200PX;
}

.cata_mask{
    position: fixed;
    z-index: 998;
    bottom:0;
    left:0;
    width: 100%;
    height: 100vh;
    background: #0000024d;
}
.cata_wrap {
    position: fixed;
    padding: 20PX;
    box-sizing: border-box;
    z-index: 999;
    bottom:0;
    left:0;
    width: 100%;
    height: 70vh;
    background: #fff;
    text-align: center;
    overflow-y: scroll;
}
.error .at-divider__content{
    background-color: #f5f5f5;
}

.kcheckbox_item{
    display: flex;
    flex-direction: row;
    padding: 10PX 0;
}
.kcheckbox_item_icon{
    display: inline-block;
    height: 25PX;
    width: 25PX;
    padding-right: 15PX;
    background-repeat: no-repeat;
    background-image: url(https://6578-examination-4a5460-1259638096.tcb.qcloud.la/icon/%E6%9C%AA%E9%80%89%E4%B8%AD.png?sign=bac26e620ba7fccd1ce4a21ab3d1e2b2&t=1564889426);
    background-size: 25PX;
}

.kcheckbox_item_icon.right {
    background-image: url(https://6578-examination-4a5460-1259638096.tcb.qcloud.la/icon/%E5%90%8C%E6%84%8F.png?sign=82ae123b03e11cdc8edd5026280b40a3&t=1564890190);
}

.kcheckbox_item_icon.wrong {
    background-image: url(https://6578-examination-4a5460-1259638096.tcb.qcloud.la/icon/%E9%A9%B3%E5%9B%9E.png?sign=05862c18771162f084e2654d23a229e5&t=1564890227);
}

.kcheckbox_item_text{
    display: inline-block;
    vertical-align: super;
}